<hazelcast>
    <network>
        <port auto-increment="false">5701</port>
        <join>
            <multicast enabled="false"/>
            <tcp-ip enabled="true">
                {%- for host in cluster_hosts %}
                <member>{{host}}</member>
                {%- endfor %}
            </tcp-ip>
        </join>
    </network>
</hazelcast>
