<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%5p %d{ISO8601} [%t] %c [line %L] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.eclipse.jetty" level="WARN"/>
    <logger name="com.sun.jersey.server.wadl.generators" level="WARN"/>
    <logger name="org.apache.zookeeper" level="WARN"/>
    <logger name="org.apache.curator" level="WARN"/>

</configuration>
