<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/mnt/log/hub.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/mnt/log/hub_%d{yyyy-MM-dd-HH}.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>24</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%5p %d{ISO8601} [%t] %c - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
        <queueSize>4048</queueSize>
        <includeCallerData>false</includeCallerData>
    </appender>

    <root level="info">
        <appender-ref ref="ASYNC"/>
    </root>

    <logger name="com.sun.jersey.server.wadl.generators" level="WARN"/>
    <logger name="org.apache.zookeeper.server.PrepRequestProcessor" level="WARN"/>
    <logger name="com.flightstats.hub.webhook" level="WARN"/>
    <logger name="com.flightstats.hub.dao" level="DEBUG"/>
    <logger name="com.flightstats.hub.time" level="DEBUG"/>
    <logger name="com.flightstats.hub.util.FileUtil" level="WARN"/>
    <logger name="com.flightstats.hub.filter.TracesFilter" level="WARN"/>
</configuration>
