<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/home/hub/log/hub.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/home/hub/log/hub_%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%5p %d{ISO8601} [%t] %c [line %L] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE"/>
    </root>

    <logger name="com.sun.jersey.server.wadl.generators" level="WARN"/>
    <logger name="org.apache.zookeeper.server.PrepRequestProcessor" level="WARN"/>
    <logger name="com.flightstats.hub" level="DEBUG"/>

</configuration>