tickTime=2000
#dataDir needs to contain myid file
dataDir={{ dataDir }}
dataLogDir={{ dataLogDir }}
clientPort=2181
initLimit=5
syncLimit=2
maxClientCnxns=0
server.1={{ server[1] }}
server.2={{ server[2] }}
server.3={{ server[3] }}

autopurge.snapRetainCount=5
autopurge.purgeInterval=1
forceSync=no