aws.protocol={{ aws['protocol'] }}

dynamo.endpoint={{ dynamo['endpoint'] }}
dynamo.table_creation_wait_minutes={{ dynamo['table_creation_wait_minutes'] }}

app.name={{ app['name'] }}
app.environment={{ app['environment'] }}
app.encrypted={{ app['encrypted'] }}
app.lib_path=/home/hub/hub/lib/
app.url={{ app.url }}

#how long is the delay to get out of the load balancer's rotation?
app.shutdown_delay_seconds={{ app['shutdown_delay_seconds']}}

#how long should we wait for the app to shutdown?
app.shutdown_wait_seconds={{ app['shutdown_wait_seconds']}}

s3.environment={{ s3['environment'] }}
s3.endpoint={{ s3['endpoint'] }}
s3.maxQueryItems={{ s3.maxQueryItems }}
s3.writeQueueSize={{ s3.writeQueueSize }}
s3.writeQueueThreads={{ s3.writeQueueThreads }}
s3.dropSomeWrites={{ s3.dropSomeWrites }}

audit.threads={{ audit['threads'] }}
audit.queue={{ audit['queue'] }}

zookeeper.connection={{ zookeeper['connection'] }}
zookeeper.cfg=/home/hub/hub/conf/zoo.cfg

hazelcast.conf.xml=/home/hub/hub/conf/hazelcast.conf.xml

#http.bind_interfaces=lo,en0
http.bind_port=8080
http.idle_timeout=30000
http.bind_ip=0.0.0.0

hosted_graphite.enable={{ hosted_graphite['enable'] }}
hosted_graphite.registerJvmMetrics={{ hosted_graphite['registerJvmMetrics'] }}
hosted_graphite.host={{ hosted_graphite['host'] }}
hosted_graphite.port={{ hosted_graphite['port'] }}
hosted_graphite.prefix={{ hosted_graphite['prefix'] }}

spoke.path={{ spoke.path }}
spoke.servers={{ spoke.servers }}
spoke.ttlMinutes={{ spoke.ttlMinutes }}


