#valid values are currently "aws"
backing.store={{ backing['store'] }}

aws.protocol={{ aws['protocol'] }}
aws.credentials=testing_only

dynamo.endpoint={{ dynamo['endpoint'] }}
dynamo.table_creation_wait_minutes={{ dynamo['table_creation_wait_minutes'] }}

app.name={{ app['name'] }}
app.environment={{ app['environment'] }}
app.encrypted={{ app['encrypted'] }}
app.lib_path=/home/hub/hub/lib/

s3.content_backoff_wait= {{ s3['content_backoff_wait'] }}
s3.content_backoff_times= {{ s3['content_backoff_times'] }}
s3.environment={{ s3['environment'] }}

zookeeper.connection={{ zookeeper['connection'] }}
zookeeper.cfg=/home/hub/hub/conf/zoo.cfg

hazelcast.conf.xml=/home/hub/hub/conf/hazelcast.conf.xml

#http.bind_interfaces=lo,en0
http.bind_port=8080
http.idle_timeout=30000
http.bind_ip=0.0.0.0

graphite-emit-metrics=true
graphite-register-jvm-metrics=true
graphite-hosts={{ graphite['hosts'] }}
graphite-metrics-prefix=hub

sweeper.periodMillis=60000


