#!/bin/bash

# Exit on any error
#
exec >/tmp/debug
set -e

cat > /tmp/javaopts <<JAVA_OPTS
 -d64
 -server
 -Xmx450m
 -Xms256m
 -XX:NewSize=100m
 -XX:+UseG1GC
 -XX:MaxGCPauseMillis=100
 -agentlib:jdwp=transport=dt_socket,address=3333,server=y,suspend=n

 -Dcom.sun.management.jmxremote
 -Dcom.sun.management.jmxremote.port=8888
 -Dcom.sun.management.jmxremote.ssl=false
 -Dcom.sun.management.jmxremote.authenticate=false
 -Dlogback.configurationFile=$DEPLOYED_DIR/conf/logback.xml

 -XX:+PrintGCDetails
 -XX:+PrintTenuringDistribution
 -XX:+PrintGCDateStamps

 -Dsun.net.inetaddr.ttl=0

 -Xloggc:~/log/hub_gc.log-$(date -u '+%Y-%m-%d-%H-%M-%S')
JAVA_OPTS

export JAVA_OPTS="$(cat /tmp/javaopts)"
export JAVA_HOME="${JAVA_HOME}"

MAIN_CLASS="com.flightstats.hub.app.HubMain"

if [ -e ${DEPLOYED_DIR}/conf/hub.properties ] ; then
    HUB_PROPS=${DEPLOYED_DIR}/conf/hub.properties
fi

echo ${JAVA_HOME}/bin/java -cp "${DEPLOYED_DIR}/lib/*" ${JAVA_OPTS} ${MAIN_CLASS} ${HUB_PROPS}
${JAVA_HOME}/bin/java -cp "${DEPLOYED_DIR}/lib/*" ${JAVA_OPTS} ${MAIN_CLASS} ${HUB_PROPS}